<div class="form-container">
    <h1>Menu de Opciones</h1>
    <div class="flex-container">
        <div>
            <button>
                <img src="assets/img/icono_crear_pedido.png" alt="">
            </button>
            <button>    
                <img src="assets/img/icono_consultar_pedidos.png" alt="">
            </button>
        </div>
        <div>
            <button>
                <img src="assets/img/icono_estado_cuenta.png" alt="">
            </button>
            <button>
                <img src="assets/img/icono_inventarios.png" alt="">
            </button>
        </div>

    </div>
    

</div>
