.form-container{

    margin-top: 25%;
    max-width: 500px;
    background-color: black;
}

.flex-container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}


.tamanio-container{
    width: 500px;
}

.image{
    text-align: start;
}


.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;    
}

.centerbutton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px; 
}

.flex-container h1 {
    color:#944A34;
    text-align: center;
    margin-top:150px;
    padding: 16px; 
   }

   .flex-container input[type="text"],
   .flex-container input[type="password"],
   .flex-container span{
        color: #FE5000;
        background-color: black;
        border-bottom:  2px solid#FE5000;
        border-top:black ;
        border-left: black;
        border-right: black;
        margin: 0 16px;
   }

   .redondo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto auto;
    width: 300px;
    height: 40px;
    background-color: #FE5000;
    border:#FE5000;
  }