
    <div style="background-color: black;"class="flex-container">
            <div class="tamanio-container"style="background-color: black; text-align: start;">
                <div style="border-radius: 12px;">
                    <img  class="image" src="assets/img/fondo_login.png" >
                </div>
            </div>
            <div class="tamanio-container "style="background-color: black;">
                <div class="center">
                    <h1>Sing in</h1>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img src="assets/img/user.png"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre Usuario" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img src="assets/img/password.png"></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="centerbutton">
                        <button type="submit" class="btn btn-primary btn-xs redondo">Ingresar</button>
                    </div>
                </div>
            </div>
                    
    </div>