<div class="form-container">
    <h1>Ingreso al Sistema</h1>
    <div class="card">
        <div class="center">
         <img class="image" src="assets/img/login.png" alt="">
        </div>
    </div>
    <div class="card">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><img src="assets/img/user.png"></span>
            </div>
            <input type="text" class="form-control" placeholder="Nombre Usuario" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><img src="assets/img/password.png"></span>
            </div>
            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="centerbutton">
            <button type="submit" class="btn btn-primary btn-xs redondo">Ingresar</button>
        </div>
    </div>

</div>
